:javascript
  $(document).ready(function() {
    $('#change_date').datepicker({
      dateFormat: 'dd/mm/yy',
      numberOfMonths: 3,
      showButtonPanel: true,

      dayNamesMin: day_names,
      monthNames: month_names
    });
  });

%table#change_day
  = form_tag :action => 'change_end_term' do
    %td= text_field_tag 'change_date', @current_end
    %td= submit_tag I18n.t('admin.change_end_term.save'), :class => 'button'

